* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}


body {
    background-color: #161616;
    opacity: 1;
    background-image: radial-gradient(#b3afb45c 0.5px, #161616 0.2px);
    background-size: 20px 20px;
}

.box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#f4f4f4;
    display:fixed;
    justify-content: center;
    height:560px;
    width:390px;
    box-shadow: 0px 5px 15px #ffffffc0;
    border-radius:8px;
}


.content {
    padding:15px;
    accent-color:#b44ec8;
}

.custom {
    margin-top:25px;
    margin-left:20px;
}

.length {
    display:grid;
    padding:8px;

}

.caracteres {
    display:grid;
}

.gerador {
    margin-top:15px;
    position:relative;
    display:grid;
    align-items: center;
    text-align:center;
}

  
  

.check {
    width:15em;
    padding:8px; 
    margin-top:10px;
    border:#161616 dotted 1px;
}

.buttons {
    margin-top:40px;
    display:grid;
    justify-content: center;
}

#generate:hover {
    cursor:pointer;
    background-color:rgba(184, 62, 184, 0.596);
}



#generate {
    width:14em;
    height:4em;
    font-size:18px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #913ba4;
    color:white;
    box-shadow: 0px 5px 15px #00000056;
}

h1::after {
    content: " ";
    height: 4px;
    width: 60px;
    background-color: #bb60cd;
    display: block;
    margin: 12px auto;
}

h1:hover {
    cursor:pointer;
}

.options:hover{
    cursor:pointer;
}


#password {
    margin-top:8px;
    margin-left:15px;
    max-width:45ch;
    height:3em;
    cursor:pointer;

}

  
.by {
    position:absolute;
    bottom:2%;
    right:2%;
    color:white;
    font-family:monospace;
}

#copy {
    display:none;
    position:absolute;
    right:6%;
    bottom:8%;
}

#mensagem-copiar {
    display:none;
    position:absolute;
    right:6%;
    bottom:-13%;
    font-size:12px;
    color:#464646;
}